/*! RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CLEAR-FIX*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

html{
    min-width: 78.1rem ;
}


header h1{
    font-family: 'Nunito', sans-serif;
    font-weight:800; 
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    color: #eb0052;
}

main{
    width: 70%;
    margin: 2rem auto;
}

main section p{
    text-align:center;
}

article{
    display: inline-block;
    background-color: #0f0e17;
    color: white;
    width: calc((100% - 108px) / 3);
    box-shadow: 5px 5px 5px gray;
}

h2{
    padding-left: 5.6rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-top: .4rem;
}

h3{
    padding-left: 5.6rem;
    font-family: 'Nunito', sans-serif;
    font-size: .8rem;
}

.line{
    margin-top: 3rem;
}

[src]{
    float: left;
    width: 5rem;
    height: 5rem;
}

[href]{
    color: #2a91c9;
    padding-left: .6rem;
}

#laura{
    margin: 0 50px;
}

#roberto{
    margin: 0 50px;
}






